body { 
  font-family: Roboto, Helvetica, Arial, sans-serif; 
}

#backgrounddiv {
	/*background: radial-gradient(at 50% 0%, #98FC4F 8%,  #0F9B24 55%);*/
	/* background: radial-gradient(at 50% 0%, #7BE330 80%,  #0F9B24 20%); */
	/* background: radial-gradient(at 50% 0%, rgb(255, 255, 255) 8%,  rgb(221, 226, 222) 70%); */
	background: white;
	width:100vw;
	height:95vh;
	position: relative;

	display: flex;
  	justify-content: center;
}

footer{
	background-color: #3B5441;
	height: 5vh;
}

#footer_text{
	color: white;
	font-size: 3vh;
	text-align: center;
} 
img{
	width:100vmin;
	object-fit: contain;
	position: absolute;
	top: 0;
}

#foosrank {
	position:absolute;
	top:20vh;
	color: white;
	font-size:20vmin;
}

#text {
	position: absolute;
	color:white;
	top:45vh;
	font-size: 4vmin;
}

#foosrankbutton {
	position: absolute;
	top:70vh;
}

#github {
  	position: absolute;
	top:80vh;
}

a:visited{
  color:black;
}
a:link{
  color:black;
}

@media (max-width: 450px) {
  body, #text { 
  	top:35vh;
  	font-size: 5vmin;
  }
  body, #foosrankbutton {
  	top:60vh;
  }
  body, #github {
  	top:70vh;
  }

}