body { 
  font-family: Roboto, Helvetica, Arial, sans-serif; 
}

#backgrounddiv {
	/*background: radial-gradient(at 50% 0%, #98FC4F 8%,  #0F9B24 55%);*/
	/* background: radial-gradient(at 50% 0%, #7BE330 80%,  #0F9B24 20%); */
	/* background: radial-gradient(at 50% 0%, rgb(255, 255, 255) 8%,  rgb(221, 226, 222) 70%); */
	background: white;
	width:100vw;
	height:93vh;
	/* display: flex; */
	/* justify-content: center; */
	position: block;
}

img{
	width:100vmin;
	object-fit: contain;
	position: relative;
}

#logo_container {
	position: block;
	margin: 5px auto;
}

#firebaseui-auth-container {
	position: block;
	margin: 5px auto;
}

#github_container {
  position: block;
	margin: 5px auto;
	text-align: center;
}

a:visited{
  color:black;
}
a:link{
  color:black;
}


footer{
	background-color: #ffa100;
	height: 7vh;
}

#footer_text{
	color: white;
	font-size: 3vh;
	text-align: center;
} 

/* @media (max-width: 450px) {
  body, #text { 
  	top:35vh;
  	font-size: 5vmin;
  }
  body, #foosrankbutton {
  	top:60vh;
  }
  body, #github {
  	top:70vh;
  }

} */