#rankingtablediv { 
  background: white; 
  margin: 100px auto 16px; 
  padding: 32px 24px; 
  border-radius: 3px; 
  margin-top: 5vh; 
}

#rankingtablediv h2 { 
  color: #ffa100; 
  font-weight: bold; 
  font-size: 16px; 
  margin: 0 0 8px; 
}

#rankingtablediv h1 { 
  font-size: 22px; 
  font-weight: 300; 
  color: rgba(0,0,0,0.6); 
  margin: 0 0 16px;
}

#rankingtablediv p { 
  line-height: 140%; 
  margin: 16px 0 24px; 
  font-size: 14px; 
}


#rankingtablediv, #rankingtablediv a { 
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); }


@media (max-width: 600px) {
  body, #rankingtablediv { 
    margin-top: 0; 
    background: white;
    box-shadow: none; 
  }
}