<html>
   <head>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<meta name="google-signin-client_id" content="1080654645105-s3kntj8mbthlh69k8t3tvnobmckljgnq.apps.googleusercontent.com">
   </head>
   <body>
		<div class="g-signin2" data-onsuccess="onSignIn"></div> <!-- I think the error in the console you get is bc this: https://stackoverflow.com/questions/42668299/google-auth-api-javascript-idpiframe-initialization-error-on-chrome -->
		 <a href="/logout" class="item">Logout</a> <!-- TODO does'nt work rn -->
   </body>
</html>
<h1> HIII </h1>

